.whole{
    background-color:#A3BCB6;
    box-shadow: 0px 0px 25px #8458B3;
    align-items: center;
    justify-content: center;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-bottom: 4%;
    margin-top: 10%;
}
body{
    background-color: #283747;
    
}
.output{
    background-color: whitesmoke;
    width: 80%;
    margin-left: 10%;
    border: 3px solid yellow;
    border-radius: 4px;
    box-shadow: 0px 0px 25px red;
    
    padding: 15px;
    
}
#radiobutton{
    display: flex;
    justify-content: center;
}
#but{
    padding: 15px;
    margin-top: 8px;
    width: 30%;
    background-color: #164A41;
    color: white;
    border: none;
    border-radius: 10px;
}
#but:hover{
    background-color: #ffa8B6;
    cursor: pointer;
}